.spend-time{
    border: 2px solid gray;
    padding: 5px;
    background-color: aliceblue;
    border-radius: 5px;
}
.Blog-title{
    border: 2px solid gray;
    padding: 5px;
    background-color: aliceblue;
    border-radius: 5px;
}
.title{
    border: 2px solid gray;
    padding: 5px;
    background-color: aliceblue;
    border-radius: 5px;
}


