.cafe-Container{
    display: flex;
    justify-content: space-between;
    padding: 50px;
    
}
.cafe-profile{
 
}

@media screen and (max-width:600px) {
    .cafe-Container{
        flex-direction: column;
    }
    
}