.profile-container{
  
}

.cover-pic{
    width: 70%;
    height: 30%;
    border-radius: 10px;
}
.autho-bio{
    display: flex;
    justify-content: start;
    align-items: center;
    
}
.author-info{
    display: flex;
    
}

.author-pic{
    width: 60px;
    height: 80%;
}

.name-date{
    font-size: 12px;
}

.book-mark{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: 250px;
   
}
 